<section class="info list group">

  <section class="data">

    <h2><%= list.name %></h2>

    <% list.notes.each do |note| %>

      <section class="info card">

        <%= render partial: "/notes/note_info", locals: { note: note } %>

      </section>

    <% end %>

      <%= render partial: "lists/list_nav", locals: { list: list} %>

  </section>

</section>