<section class="info list group">

  <a id="#<%= list.name %>"></a>

  <section class="data">

      <ul class="sortable">

        <h2><%= list.name %></h2>

        <% list.notes.each do |note| %>

          <li class="info card ui-state-default">

            <%= render partial: "/notes/note_info", locals: { note: note } %>

          </li>

        <% end %>

      </ul>

      <%= render partial: "lists/list_nav", locals: { list: list} %>

  </section>

</section>