<section class="list-view">

  <h2 class="list-header"><%= list.name %></h2>

  <% list.notes.each do |note| %>

    <%= render partial: "/notes/note_info", locals: { note: note } %>

  <% end %>

  <%= render partial: "lists/list_nav", locals: { list: list} %>

</section>