<section class="content group login modal">

	<span class="masthead group">
		
		<div class="center group" id="logo-large"><img src="/images/mascot-small.png" id="logo-big" class="center"></div>
		<br>
		<div class="center"><h2>Welcome!</h2></div>
	</span>
	
  <section class="content-main bigger-left left">

		<h3>New to Early Worm?</h3>
		
    <form action="/users" method="post">
		<% if flash[:errors] && flash[:errors].include?("Name has already been taken")%>
			<div class="errors group"><h5>* Sorry, that name's already been taken.</h5></div>
		<% end %>
    <label for="username">Name</label>
    <input type="text" name="user[name]" value= "" id="name"><br>

		<% if flash[:errors] && flash[:errors].include?("Password is too short (minimum is 6 characters)")%>
		<div class="errors group"><h5 class="left">* Passwords need to be at least six characters.</h5></div>
		<% end %>
    <label for="password">Password</label>
    <input type="text" name="user[password]" id="password"><br>

		<div class="errors group"><% if flash[:errors] && flash[:errors].include?("Email can't be blank")%>
<h5 class="left">* You need to enter an email address.</h5></div>
		<% end %>
    <label for="user_username">Email</label>
    <input
        type="text"
        id="user_username"
        name="user[email]"
    >

    <br>

    <label for="user_username" class="optional">Zip Code</label>
    <input type="integer" name="user[zip]" placeholder="optional" class="optional">
    <br>
		
		<h5>Your location data lets us give you tips about what to grow and connect you with other gardeners in your hood!</h5>
		


		<div class="center-button">
			<input type="submit" value="Join">
		</div>
		
    </form>

  </section>
	
	<section class="content-main left">
		
		<h3>Already a Member?</h3>

		<section id="demo" class="group">
			<div id="demo-back">
			</div>
			
			<div id="demo-info">
				<h3>DEMO LOGIN</h3>
				<h4>Name: Demo</h4>
				<h4>Password: password</h4>
			
				<p>
					Just click <strong>"SIGN IN"</strong> to enter <strong>Early Worm</strong> in DEMO MODE to check out all its features! 
				</p>
			<div>
		</section>
		
    <form action="/session" method="post" id="returning">
			<div class="errors group">
				<% if flash[:errors] && flash[:errors].include?("Make sure you enter a correct Name and Password")%>
	<h5 class="left">* Make sure you're entering the right info!</h5>
				<% end %>
			</div>
			

      <input
         name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">

      <label for="user_name">Name</label>
      <input
         id="user_username"
         name="user[name]"
         type="text"
				 value="Demo">
      <br>

      <label for="user_password">Password</label>
      <input
         id="user_password"
         name="user[password]"
         type="password"
				 value="password">
      <br>

      <div class="center-button"><input type="submit" value="Sign In"></div>
    </form>

  </section>

</section>


<script>
$(".modal").dialog({
  width: 830,
  position: ["center", "top"]
});

$("#blur").removeClass("invisible");
  

</script>
