<section class="content group login">

	<span class="masthead group">
		<div class="center"><h2>Welcome to Early Worm!</h2></div>
	</span>
	
  <section class="content-main bigger-left">

		<h3>New to Early Worm?</h3>
		
    <form action="/users" method="post">

    <label for="username">Name</label>
    <input type="text" name="user[name]" value= "" id="name"><br>

    <label for="password">Password</label>
    <input type="text" name="user[password]" id="password"><br>


    <label for="user_username">Email</label>
    <input
        type="text"
        id="user_username"
        name="user[email]"
    >

    <br>

    <label for="user_username" class="optional">Zip Code</label>
    <input type="integer" name="user[zip]" placeholder="optional" class="optional">
    <br>
		
		<h5>* Your location data lets us give you tips and connect you with other gardeners in your hood!</h5>
		


		<div class="center-button">
			<input type="submit" value="Join">
		</div>
		
    </form>

  </section>
	
	<section class="content-main right">
		
		<h3>Already a Member?</h3>

    <form action="/session" method="post">
      <input
         name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">

      <label for="user_name">Name</label>
      <input
         id="user_username"
         name="user[name]"
         type="text">
      <br>

      <label for="user_password">Password</label>
      <input
         id="user_password"
         name="user[password]"
         type="text">
      <br>

      <div class="center-button"><input type="submit" value="Sign In"></div>
    </form>

  </section>

</section>