<section class="note-form">

  <h3>New Note...</h3>

  <form action="/notes" method="POST">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" id="some_name">

    <label>Title
      <input type="text" name="note[title]">
    </label>

    <br>

    <label>Note
      <textarea name="note[text]" placeholder="Notes..."></textarea>
    </label>

    <br>

    <label>Upload Picture//
    </label>

    <br>

    <p><input type="submit" value="Make a Note"></p>
  </form>

</section>