<section class="sidebar">
  <nav class="note-nav group center">
    <section class="group">

      <li class="group set">
        <%= render partial: "notes/flag_toggle", locals: { note: @note} %>
      </li>
      <br>

      <li class="group set">
        <%= render "notes/note_due" %>
      </li>
      <br>

      <li class="group set">
        <%= render "notes/note_assign" %>
      </li>
      <br>

      <% if current_user.id = @note.user_id %>

        <li class="group set">

          <h2>DELETE NOTE</h2>

            <p><%= button_to "Delete!", note_url(@note), method: :delete %></p>

        </li>

      <% end %>


    </section>
  </nav>
</section>