	<% if note.assigned_user != nil %>
		<span><i class="icon-male icon left"></i>
		<p class="sub icon left"><%= User.find(note.assigned_user).name %></p></span>
	<% end %>

  <% if note.due_date %>
    <span><i class="icon-calendar icon left"></i>
    <p class="sub icon left"><%= format_date(note.due_date) %></p></span>
  <% end %>

  <% if note.comments.count > 0 %>
    <span><i class="icon-comment-alt icon left"></i>
    <p class="sub icon left"><%= note.comments.count %></p></span>
  <% end %>
