<h2>COMMENTS</h2>

<form action="/comments" method="POST">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[note_id]" value="<%= note.id %>">

  <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">

  <textarea name="comment[text]" rows="8" cols="40" placeholder="comment..."></textarea>

  <div class="group"><p class="right"><input type="submit" value="Comment" id="comment"></p></div>
</form>


<!-- WORK ON THIS -->

<!-- <script>

  $(document).ready(function(){

    var $commentform = $("#commentform");

    $commentform.on("submit", function(event){
      event.preventDefault();
      $.ajax({
        url: "/comments",
        type: "POST",
        data: $commentform.serialize();,
        dataType: "json",
        success: function(data){
          console.log("success")
        },

      })
    })

  });

</script> -->