<section class="content group">

  <section class="content-main">

    <h2 class="list-header">Notifications</h3>

    <div class="link-text">

      <% current_user.notifications.each do |notification| %>

      <div class="comment-text">
        <p><a href="<%= note_url(notification.note) %>"><%= notification.text %></a></p>
      </div>

      <% end %>

    </div>

  </section>

</section>