

<div class="header-bar right group">
	<ul>
		<li>
				<%= render partial: "users/notifications" %>
		</li>
	
		<li>
				<div class="group" id="home"><a href="<%= user_url(current_user)%>" class="left"><i class="icon-home"></i>Home</a></div>
		</li>
	
		<li>
				<div class="group" id="user"><a href="<%= user_url(current_user)%>" class="left"><i class="icon-male"></i><%= current_user.name%></a></div>
		</li>
	
		<li>
				<div class="group" id="logout"><a href="#" class="left"></i>Logout</a></div>
		</li>
	</ul>

</div>

