<section class="header-bar right">
				
	<div class="group"><a href="<%= user_url(current_user)%>" class="left"><i class="icon-male"></i><span><%= current_user.name%></span></a></div>
	
	<div class="group"><a href="<%= user_url(current_user)%>" class="left"><i class="icon-home"></i><span>Home</span></a></div>
	<br>
	<%= render partial: "users/notifications" %>
	<br>

</section>

