
<% if current_user.notifications.length > 0 %>

    <% if current_user.notifications.length == 1 %>
      <a href="<%= notifications_url %>"><i class="icon-exclamation-sign"></i>You have a notification</a>
    <% else %>
      <a href="<%= notifications_url %>"><i class="icon-exclamation-sign"></i>You have <%= current_user.notifications.length %> notifications</a>
    <% end %>

<% end %>