
<h2>Profile</h2>

  <p>Name: <%= current_user.name %></p>

<h2>Your Gardens</h2>

  <ul>
    <% current_user.gardens.each do |garden| %>

      <%= render "gardens/garden_info", garden: garden %>

    <% end %>
  </ul>

<%= button_to "Plant a New Garden!", new_garden_url, method: :get %>
