
<section class="content user group">

  <section class="content-main">

    <h2>My Gardens</h2>

    <ul>
      <% current_user.gardens.each do |garden| %>

        <h3 class="link-text"><%= link_to garden.name, garden_url(garden), method: :get %></h3>
        <!-- <%= render "gardens/garden_info", garden: garden %> -->
      <% end %>
    </ul>
		
		<div class="center-button">
		    <%= button_to "Plant a New Garden!", new_garden_url, method: :get %>
		</div>
		
    <h2>My Cards</h2>

    <ul>
      <% current_user.notes.each do |note| %>

        <h3 class="link-text"><%= note.title %></h3>
      <% end %>
    </ul>
	
  </section>


</section>

