<form action="/gardens" method="POST">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
	<div class="group">
  <label class="sub">Name</label>
    <input type="text" name="garden[name]" class="right">
	</div>

	<div class="group">
  <label class="sub">Location</label>
    <input type="text" name="garden[location]" class="right">
	</div>

  <p><input type="submit" value="Start a New Garden" class="right"></p>
</form>