<section class="content group">

  <section class="content-main">

    <form action="/gardens" method="POST">

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label>Name
        <input type="text" name="garden[name]">
      </label>

      <label>Location
        <input type="text" name="garden[location]">
      </label>

      <p><input type="submit" value="Start a New Garden"></p>
    </form>

  </section>

</section>