<section class="page-view">

  <%= render partial: "garden_info", locals: {garden: @garden} %>

  <ul class="lists list-sortable left">

    <%= render partial: "lists/list", collection: @garden.lists.sort_by { |a| a.list_pos } %>

  </ul>

  <%= render partial: "lists/list_list_form" %>

</section>





<script>

$(document).ready(function(){

/////DISPLAYS NEW LIST FORM/////

  var $list_button = $("#list-button");

  var $list_form = $("#list-form");

  $list_button.on("mouseover", function(){
    $(this).stop(true).animate({opacity: 1.0}, 200);
  });

  $list_button.on("mouseout", function(){
    $(this).stop(true).animate({opacity: 0.6}, 200);
  });


  $list_button.on("click", function(event){
    $(this).addClass("invisible");
    $list_form.removeClass("invisible");

    event.preventDefault();
  });

  $list_form.on("submit", function(event){
    $(this).addClass("invisible");
    $list_button.removeClass("invisible");
  })


/////DISPLAYS NEW NOTE FORM/////



  var $note_button = $(".note-button");
  var $note_form = $(".note-form");

  $note_button.on("click", function(event){
    event.preventDefault();
    $(this).addClass("invisible");

    var form = $(this).closest("div").find(".list-form");
    form.removeClass("invisible");
  });

  $note_form.on("submit", function(event){
    event.preventDefault();

    $form = $(this)

    $form.addClass("invisible");
    $form.closest("div").find(".note-button").removeClass("invisible");

    console.log($form)

    var list_id = $(this).closest("li").find(".listwrapper").attr("id");

    var data = {
      note: {
        list_id: list_id,
        title: $("#title").val()
      }
    }

    $.ajax({
      url: "/notes",
      type: "POST",
      data: data,
      dataType:"json",
      success: function(data){

      },
    });

    location.reload();
  })







  // $note_form.on("submit", function(event){
 //    $(this).addClass("invisible");
 //    $note_button.removeClass("invisible");
 //  })


/////ENABLES LIST & NOTE DRAGGING/////

  var $list_container = $(".list-sortable");

  $( ".ui-state-default" ).mouseover().css( "cursor", "pointer" );

  $(function() {
    $( ".list-sortable").sortable({
      stop: function(e, ui) {
        var $lists = $(ui.item.closest("ul").children("li"));

        $lists.each( function(i, elem) {
          var list_wrapper = $(this).find("section.listwrapper")
          var list_id = $(list_wrapper).attr("id")

          var data = {
            list: {
              list_pos: parseInt($(this).index())
            }
          }

          $.ajax({
            url: "/lists/" + list_id,
            type: "PUT",
            data: data,
            dataType:"json",
            success: function(data){
              console.log("sent it out!");
              console.log(data);
            },
            error: console.log("This A shit don't work!")
          });
        });
      }
    }).disableSelection();
    $( ".sortable" ).sortable({
      connectWith: ".sortable",

      stop: function(e, ui) {
        // MOVED ELEMENT AND ITS NEW LIST
        var that = this;

        var NoteId = ui.item.attr("id");
        var NoteIndex = ui.item.index();
        var NoteNewList = ui.item.closest("ul");
        var NoteNewListId = ui.item.closest("ul").parent().attr("id");

        var newListItems = $(NoteNewList.children("li"));

        /////NEW STUFF/////

        newListItems.each( function(i, elem) {
          var note_id = $(this).attr("id");
          console.log(note_id);
          var data = {
            note: {
              list_id: parseInt(NoteNewListId),
              note_pos: parseInt($(this).index())
            }
          };

          $.ajax({
              url: "/notes/" + note_id,
              type: "PUT",
              data: data,
              dataType:"json",
              success: function(data){
                console.log("sent it out!");
                console.log(data);
              },
              error: console.log("This A shit don't work!")
            });

        });

        /////OLD STUFF/////

        var oldListItems = $(that).children("li");
        var note_id = $(this).attr("id");

        oldListItems.each( function(i, elem) {
          var data = {
            note: {
              list_id: parseInt($(that).attr("id")),
              note_pos: parseInt($(this).index())
            }
          };

          $.ajax({
              url: "/notes/" + note_id,
              type: "PUT",
              data: data,
              dataType:"json",
              success: function(data){
                console.log("sent it out!");
                console.log(data);
              },
              error: console.log("This B shit don't work!")
            });

        });
      },

    }).disableSelection();

  });



});

</script>