<section class="page-view">

  <%= render partial: "garden_info", locals: {garden: @garden} %>

  <ul class="lists list-sortable left">

    <%= render partial: "lists/list", collection: @garden.lists.sort_by { |a| a.list_pos } %>

  </ul>

  <%= render partial: "lists/list_list_form" %>

</section>

<!-- note view  -->

<div class="modal">

  <!-- shit renders here ? -->

</div>



<script>

$(document).ready(function(){

  /////DISPLAYS NEW NOTE FORM/////



    var $note_button = $(".note-button");
    var $note_form = $(".note-form");
    $(".lists").on("click", "li .note-button", function(event){
      event.preventDefault();
      $(this).addClass("invisible");

      var form = $(this).closest("div").find(".list-form");
      form.removeClass("invisible");
    });

  /// NEW NOTE //


  $(".lists").on("click", "li form.note-form input[type=submit]", function(event){
    event.preventDefault();


    var $form = $(this).closest("form");
    var formData = $form.serialize();

    var $list = $(this).closest("li").find(".listwrapper");
    var $list_sort = $($list.children(".sortable"));

    var list_id = $list.attr("id");
    var title = $form.find(".title").val();

    var data = {
      note: {
        list_id: parseInt(list_id),
        title: title,
        user_id: $form.find(".user_id").val()
      }
    }

    $.ajax({
      url: "/notes",
      type: "POST",
      data: data,
      dataType:"json",
      success: function(data){

        var $newNote = ('<li class="info card ui-state-default" id="' + data.id + '"data-list_id="' + list_id + '" style="cursor: pointer;"><section class="data"><h3>' + title + '</h3></section></li>');
        $list_sort.append($newNote).sortable({connectWith: ".sortable"});
        $form[0].reset();
        $form.addClass("invisible");
              $form.closest("div").find(".note-button").removeClass("invisible");
        console.log($form);
      },
    });
    // var $form = $(event.target).closest("form")
    // var formData = $form.serialize();


  })

  ////center function////
  $.fn.center = function () {
      this.css("position","absolute");
      this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
      this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
      return this;
  }

///DISPLAYS MODAL BOX/////
  // var $card = $(".card");

  $(".lists").on("click", " li .card", function(event){
    event.preventDefault();

    var id = $(this).attr("id");

    $.ajax({
      url: "/notes/" + id,
      type: "GET",
      success: function(data){
      },
    });
    $(".modal").removeClass("invisible");

    $(".modal").dialog({
      width: 780,
      position: ["center", "top"]
    });

    $("#blur").removeClass("invisible");

  });


///// HIDES MODAL ON CLICK OUTSIDE /////
$('#blur').click(function() {
  $(this).addClass("invisible");
  $(".modal").addClass("invisible");
})


/////DISPLAYS NEW LIST FORM/////

  var $list_button = $("#list-button");

  var $list_form = $("#list-form");

  $list_button.on("mouseover", function(){
    $(this).stop(true).animate({opacity: 1.0}, 200);
  });

  $list_button.on("mouseout", function(){
    $(this).stop(true).animate({opacity: 0.6}, 200);
  });


  $list_button.on("click", function(event){
    $(this).addClass("invisible");
    $list_form.removeClass("invisible");

    event.preventDefault();
  });

  $list_form.on("submit", function(event){
    event.preventDefault();

    var $lists = $(this).closest(".page-view").find(".lists")
    console.log($lists)
    var $form = $(this).children("form")
    var formData = $form.serialize();

    $.ajax({
      url: "/lists",
      type: "POST",
      data: formData,
      dataType: "json",
      success: function(data){
        console.log("I did it!")
        var listForm = '<li class="info list group ui-state-default"><a id="#' + data.name +'"></a><section class="data"><section class="listwrapper" id="'+ data.id +'"><h2>' + data.name + '</h2><ul class="sortable"></ul></section></section><%= escape_javascript(render partial: "notes/note_note_form") %></li>'
        $lists.append(listForm)
      }
    })
   $(this).addClass("invisible");
   $list_button.removeClass("invisible");

  })





/////ENABLES LIST & NOTE DRAGGING/////

  // var $list_container = $(".list-sortable");

  $( ".ui-state-default" ).mouseover().css( "cursor", "pointer" );

  $(function() {
    $( ".list-sortable").sortable({
			placeholder: "list-sortable-placeholder",
			start: function(e, ui) {
				ui.placeholder.height(ui.item.height());
				ui.placeholder.width(ui.item.width());
			},
      stop: function(e, ui) {
        var $lists = $(ui.item.closest("ul").children("li"));

        $lists.each( function(i, elem) {
          var list_wrapper = $(this).find("section.listwrapper")
          var list_id = $(list_wrapper).attr("id")

          var data = {
            list: {
              list_pos: parseInt($(this).index())
            }
          }

          $.ajax({
            url: "/lists/" + list_id,
            type: "PUT",
            data: data,
            dataType:"json",
            success: function(data){
            },
          });
        });
      }
    }).disableSelection();

    $( ".sortable" ).sortable({
      connectWith: ".sortable",
			placeholder: "note-sortable-placeholder",
			start: function(e, ui) {
				ui.placeholder.height(ui.item.height());
				ui.placeholder.width(ui.item.width());
			},
      stop: function(e, ui) {
        // MOVED ELEMENT AND ITS NEW LIST
        // var that = this;

        var NoteId = ui.item.attr("id");
        var NoteIndex = ui.item.index();
        var NoteNewList = ui.item.closest("ul");
        var NoteNewListId = ui.item.closest("ul").parent().attr("id");

        var newListItems = $(NoteNewList.children("li"));

        /////NEW STUFF/////

        newListItems.each( function(i, elem) {
          var note_id = $(this).attr("id");
          var data = {
            note: {
              list_id: parseInt(NoteNewListId),
              note_pos: parseInt($(this).index())
            }
          };

          $.ajax({
              url: "/notes/" + note_id,
              type: "PUT",
              data: data,
              dataType:"json",
              success: function(data){
              },
            });

        });

        /////OLD STUFF/////

        var oldListItems = $(that).children("li");
        var note_id = $(this).attr("id");

        oldListItems.each( function(i, elem) {
          var data = {
            note: {
              list_id: parseInt($(that).attr("id")),
              note_pos: parseInt($(this).index())
            }
          };
          if ( note_id != null ) {
            $.ajax({
                url: "/notes/" + note_id,
                type: "PUT",
                data: data,
                dataType:"json",
                success: function(data){
                },
              });
            }
        });
      },
    }).disableSelection();

  });

});

</script>