/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* --- FORMATTING --- */

h1, h2, h3, h4, h5, h6, p, ul, li, section, header, div, span, body, img, html, footer {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.set {
  padding: 5px;
  border-bottom: 1px solid white;
  width: 100%;
}


/* --- ELEMENTS --- */

h1, h2, h3, h4, h5, h6 {
  color: #3DF2B9;
}

button {
  border: none;
}

body {
  background-color: gray;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;

}
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    color: #4d4d4d;
}



/*.masthead {
	position: relative;
	width: 100%;
	height: 200px;
}

.masthead img {
	position: absolute;
	width: 100%;
	height: auto;
}

.masthead h2 {
	position: absolute;
}*/

.list-sortable-placeholder {
	margin: 10px;
	border-radius: 8px;
	border: 1px dotted white;
}

.note-sortable-placeholder {
	margin: 10px;
	border-radius: 8px;
	border: 1px dotted black;
}

.ui-state-highlight-list {
	background-color: black;
}

.ui-state-highlight-card {
	background-color: black;
}

#new-list-toggle-div {
  position: relative;
}

.list-form {
  background-color: #ff0054;
  width: 280px;


  float: left;
  border-radius: 8px;
}
#list-form {
  position: absolute;
  opacity: 50%;
  top: 10px;
  left: 10px;
}

#list-button {
  position: absolute;
  opacity: .6;
  margin: 10px;
}

#new-note-toggle-div {
  padding: 0;
  border: 0;
  float: left;

}

#make-a-note {
  margin: 0px 80px 15px 80px;
}

.note-button {
  min-width: 280px;
  margin-top: 0;
  padding-bottom: 15px;
}

.list-form.note-form {
  background-color: #ecf0f1;
}
.list-form input[type=text] {
  font-size: 18px;
  text-align: center;
  margin: 20px 16px 10px 16px;
  width: 228px;
}

.list-form input[type=submit], .list-button input[type=submit] {
  height: 34px;
  background-color: #4d4d4d;
  font-size: 18px;
  min-width: 100px;
  margin: 0px 80px 15px 78px;
  padding: 0px 10px;
}

.list-button input[type=submit] {
  padding: 5px 10px;
  display: block;
  width: auto;
  margin: auto;
  background-color: #ff0054;
}
/* --- HEADER --- */

header {
  background-color: #4d4d4d;
  color: white;

  width: 100%;
  height: 140px;
  box-shadow: 0px 20px 50px #333;
  top: 0px;

  position: fixed;
  z-index: 1000;
}

.top-bar {
  background-color: none;
}

#logo {

    font-size: 36px;
    color: #3DF2B9;
    padding: 20px;
    padding-left: 40px;
    font-family: 'Titillium Web', sans-serif;
}

#description {
  width: 266px;
  margin: 10px 0;
}

#description-button {
  margin: 6px 0px;
}

header h2 {
  font-size: 16px;
  color: white;
  display: block;
  padding: 10px 0px;
}

.login-buttons {
  margin-left: 40px;
}

.header-bar {
  padding-top: 10px;
  float: right;
}

.header-bar i, .header-bar span {
  color: #ff0054;
  padding: 10px;
}

.header-bar a {
  padding-right: 40px;
}


/* --- BODY --- */

.bigger-left {
	border-right: 1px solid white;
}

.bigger-right {
	border-left: 1px solid white;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.sortable {
  min-height: 20px;
}

section.page-view {
  width: 5000px;
  margin-top: 160px;
}

#lists {
  float:left;
}

.info {
  margin: 10px;
  float: left;
  border-radius: 8px;
}

.card {
  background-color: white;
  width: 247px;
}

.card i {
  color: #3DF2B9;
}

.info.garden {
  background: #4d4d4d;
  width: 240px;
  float: left;
}

.info.list {
  background: #ecf0f1;
  width: 280px;
}

.data {
  padding: 15px 7px;
}

.data h2 {
  display: block;
  padding: 10px;
}

.view-buttons {
  display: block;
}

.icons {
  padding: 10px 0;
}

.icon {
  padding: 3px;
}

.list-* {
  width: 100%;
}

.main {
  margin: auto;
  padding: 0 30px;
}

.content {
  padding: 30px 20px;
  width: 800px;
  margin: auto;
  margin-top: 160px;
/*  border: 1px dashed #ff0054;*/
  border-radius: 20px;
}

.content-main {
  width: 350px;
  float: left;
  padding: 20px;
}

.content-sidebar {
  width: 200px;
  padding: 20px;
}


.content h3 {
  display: block;
  padding: 10px 20px;
}

.content ul {
  padding: 10px 0;
}

.content.login {
	background-image: url('/images/masthead-small-dark.jpg');
	background-size: cover;
	border: none;
}

.content.login h2 {
	text-transform: uppercase;
	font-size: 48px;
	display: block;
	padding: 20px;
}

.content.login h4 {
	text-align: center;
	font-size: 18px;
}

.content.login h5 {
	padding: 15px 0;
	font-size: 11px;
}
.content.login label {
	color: white;
	width: 100px;
	display: inline-block;
}
.content.login h3 {
	text-align: center;
  color: #ff0054;
	font-size: 24px;
	padding-bottom: 20px;
}

div.center {
	text-align: center;
}

div.center-button {
	border-top: 1px dotted #ff0054;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
}

.content.login input[type=submit] {
	margin: auto;
}


/*.content h3 {
	border-bottom: 1px dotted #ff0054;	
}*/

.masthead {
	width: 100%;
}
.list {
  max-height: 800px;
/*  overflow-x: hidden;*/
/*  overflow-y: auto;*/
}

.data h3 {
  font-size: 20px;
}

.link-text {
  background-color: white;
  padding: 10px 20px;
  margin: 8px 0px;
  border-radius: 9px;
  color: #ff0054;
}

.link-text p {
	position: relative;
	display: inline;
	width: auto;
}

.notification i {
	position: absolute;
	font-size: 24px;
	top: -5px;
	left: 300px;
	vertical-align: top;
}

.content.user {
	background-color: #4d4d4d;
}


/* --- FOOTER --- */

footer {
  width: 740;
  color: blue;
  background-color: blue;

}

.garden-list li {
  width: 100%;
}

.optional {
/*  background: rgb(54, 25, 25);
  */
  /* Fall-back for browsers that don't
                                      support rgba */
/*  background: rgba(54, 25, 25, .5);*/
  opacity: .6;

}

/*Dragons Below*/



/*


.delete {
  display: block;
  width: 200px;
  float: left;

  padding-top: 10px;
  border-top: 1px solid white;
  margin-top: 10px;
}

.note-nav {
  padding: 40px 20px;
  width: 220px;
  float: right;
}

.note-nav {
  padding: 40px 20px;
  width: 220px;
  float: right;
}

.note-text {
  background-color: white;
  padding: 10px 20px;
  margin: 8px 0px;
  border-radius: 9px;
  color: #ff0054;

}

.comment {
  padding: 20px 0px;
  display: block;
  width: 380px;
  border-bottom: 1px dotted #ff0054;

}
.comment-text > p {
  width: 300px;
  background-color: white;
  padding: 10px 20px;
  margin: 5px 0px;
  border-radius: 9px;
}

div {
  display: inline;
}



.form-view {
  width: 600px;
  margin: auto;
}

.profile {
  width: 600px;
  margin: auto;
}




.new-crop h3 {
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}


.ribbons {
  position: relative;
  top: -10px;
  margin: 0;
  border: 0;
  padding: 0;
}

#growy {
  font-size: 36px;
  color: #3DF2B9;
  padding: 20px;
  padding-left: 40px;
  font-family: 'Titillium Web', sans-serif;
}

.icons {
  display: block;

}

.button_to {
  display: inline;
}


.button {
  background-color: #ff0054;
}

/*.pageform {
  float: left;
  margin: auto;
  width: 50%;
}*/

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #ff0054;
}

a:visited {
  color: inherit;
}

.list-header {
  padding: 20px;
}

ul {
  list-style: none;
}

.text-area {
  border-radius: 8px;
}

ul:after {
  content: "";
  display: table;
  clear: both;
}



img {
  display: block;
  width: 91%;
  margin: 10px 0px;
  padding: 10px;
}

.flag-toggle ul {
  display: block;
}
.link-button {
	background-color: #121f1f;
	color: #bdc3c7;
	display: inline-block;
	
}

.loose-cards {
	padding: 10px;
}
.new-list-button-div {
  position: absolute;
  display: block;
  float: left;
  margin: 10px 5px;
  width: 300;
}

.new-list-button {
  width: 280px;
  height: 40px;
  font-size: 20px;
}

.form-wrapper {
  width: 280px;
}

h1 {
  font-size: 36px;
  color: #3DF2B9;
  font-weight: lighter;
}

.notification-links {
  display: block;
  padding-left: 20px;
}

.notification-links .comment-text {
  margin: 5px;
}

h2 {
  color: #3DF2B9;
  font-size: 18pt;
  font-weight: lighter;
}

h3 {
  color: #4d4d4d;
  font-size: 14pt;
  font-weight: lighter;
}

p {
  font-size: 10pt;
}

.garden-list {
  border-top: 1px dotted #ff0054;
  padding-top: 15px;
  width: 200px;
}

.garden-list h3 {
  color: #bdc3c7
}

.sub {
  color: #acb1b6;
  font-size: 12px%;
  padding-right: 10px;
}

.crop-info {
  background: #ecf0f1;

}

.front-icons {
  width: 100%;
}
form {
/*  padding-right: 3px;*/
  padding-bottom: 3px;
}

li {
  float: left;
  list-style-type: none;

}

label {
  font-style: sans-serif;
  color: #4d4d4d;
  font-size: 14pt;
  font-weight: lighter;

}

.page-body {
  width: 100%;
  display: block;
  position: relative;
}


input {
  border: none;
}

input[type=text-area] {
  border-radius: 6px;
}

input[type=submit] {
  border: none;
}

input[type=submit] {
  background-color: #ff0054;
  color: white;
  padding: 8px;
  font-family: sans-serif;
  border-radius: 6px;
  box-shadow: none;
  margin: 5px;
}

input[type=text] {
  border-radius: 6px;
  color: #ff0054;
  margin-left: 18px;
  width: 180px;
  padding: 10px;
}

input[type=date] {
  border-radius: 6px;
  color: #ff0054;
  margin-left: 18px;
  width: 180px;
  padding: 10px;
}

input[type=integer] {
  border-radius: 6px;
  color: #ff0054;
  margin-left: 18px;
  width: 180px;
  padding: 10px;
}


.note-header input[type=text] {
  width: 358px;
  background-color: white;
  padding: 10px 20px;
  margin: 8px 0px;
  border-radius: 9px;
  color: #ff0054;
  font-size: 16px;
  font-style: bold;
}

.ribbons {
  position: relative;
  top: -18px;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 0;
}

.ribbon {
  height: 20px;
  width: 0px;
  margin: 3px;
  border-bottom: 8px solid transparent;
  float: left;
}

.flag {
  width: 70px;
}

.unflag-button {
  width: 100px;

}

.flag-wrapper {
  position: relative;
}


input[type=submit] + i {
  position: absolute;
  display: none;
  top: 10px;
  left: 86px;
}

input[type=submit].unflag-button + i {
  position: absolute;
  display: block;
  color: gray;
  top: 10px;
  left: 86px;
}

input[type=submit].flag {
  padding: 6px;
}

.one {
  border-left: 7px solid #3D4CF2;
  border-right: 7px solid #3D4CF2;
}

.two {
  border-left: 7px solid #ff0054;
  border-right: 7px solid #ff0054;
}

.flag-toggle {
  float: left;
}

.flag-toggle li {
  display: block;
  float: none;
}

.icon.info.group {
  display: block;
}
/*.ribbon2 {
  height: 20px;
  width: 5px;
  margin: 3px;
  border-left: 7px solid #ff0054;
  border-right: 7px solid #ff0054;
  border-bottom: 8px solid transparent;
}*/

.three {
  border-left: 7px solid #adadad;
  border-right: 7px solid #adadad;
}

.four {
  border-left: 7px solid #3DF2B9;
  border-right: 7px solid #3DF2B9;
}

.five {
  border-left: 7px solid #ff4d00;
  border-right: 7px solid #ff4d00;
}

input[type=submit].flag1 {
  background-color: #3D4CF2;
}

input[type=submit].flag2 {
  background-color: #ff0054;
}

input[type=submit].flag3 {
  background-color: #adadad;
}

input[type=submit].flag4 {
  background-color: #3DF2B9;
}

input[type=submit].flag5 {
  background-color: #ff4d00;
}

.invisible {
  display: none;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}


#blur {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  z-index: 0;
}

#note-view {

  padding: 30px 20px;
  width: 740px;
  border: 3 px dashed #ff0054;
  border-radius: 20px;
  background-color: gray;
  z-index: 3;
}



.ui-dialog.ui-widget.ui-widget-content {
  top: 0;
}
