/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1, h2, h3, h4, h5, h6, p, ul, li, section, header, div, span, body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

div {
  display: inline;
}

i {
  color: #2ecc71 ;
}

#growy {
  font-size: 30px;
  color: black;
  padding: 10px;
  padding-left: 20px;
  font-family: 'Kite One', sans-serif;
}

.icons {
  display: block;
}

.button_to {
  color: blue;
  display: inline;
}

/*.pageform {
  float: left;
  margin: auto;
  width: 50%;
}*/

a {
  text-decoration: none;
  font-family: sans-serif;
}

.list-header {
  padding: 20px;
}

header.top {
  background-color: #27ae60;
  color: white;
}

ul {
  list-style: none;
}

ul:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  color: #2ecc71;
}

h3 {
  color: #bdc3c7;
}

p {
  font-size: 10pt;
}


.sub {
  color: #acb1b6;
  font-size: 70%;
}

section {
  margin: 5px 10px;
  float: left;
}

.garden-info {
  padding: 10px;
  background-color: #abebc6;
}

.crop-info {
  background: #ecf0f1;

}

.list-view {
  background: #ecf0f1;
  margin: 10px;
  border-radius: 8px;
  float: left;
}

li {
  float: left;
}

label {
  font-style: sans-serif;
}


.crop-info, .note-info {
  padding: 10px;
  width: 200px;
  background-color: white;
  border-radius: 8px;
}


/*





input, textarea {
  border: none;
  padding: 2px;
  background: #dfe;
  background: #ecf0f1;
  border-radius: 3px;

  font-style: sans-serif;
}



/*.page-view {
  display: inline-block;
}*/

/*.profile {
  display: block;
  width: 400px;
}




.note-form {
  border: 1px dotted #2ecc71;
  border-radius: 7px;
  background: white;
}





body {
  background: ;
}*/