/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* --- FORMATTING --- */

h1, h2, h3, h4, h5, h6, p, ul, li, section, header, div, span, body, img, html, footer {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Avenir";
  font-size: 100%;
  vertical-align: baseline;
}

.center {
	margin: auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.set {
  padding: 5px;
  border-bottom: 1px solid white;
  width: 100%;
}


/* --- ELEMENTS --- */

h1, h2, h3, h4, h5, h6 {
  color: #3DF2B9;
}

button {
  border: none;
}

body {
  background-color: gray;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;

}
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    color: #4d4d4d;
}

#demo {
	position: relative;
}

#demo h4, #demo h3 {
	padding: 5px;
	margin: 0px;
}

#demo h4 {
	color: #4d4d4d;
}

#demo-back {
	position: absolute;
	width: 350px;
	height: 200px;
	background-color: white;
	opacity: 0.7;
	border-radius: 6px;
}

#demo-info {
	position: absolute;
	padding: 14px;
}

#demo-instructions {
	z-index: 3;
	position: relative;
}
#demo p {
	padding: 10px 0;
}

#demo-instructions {
	padding: 20px 15px;
	width: 890px;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 6px;
	background-color: #fff;
}

#instructions-button h3{
	padding: 5px 10px;
	font-size: 22px;
	color: #ff0054;
}

#user-show #instructions-button h3{
	padding: 0;
}

/*.instructions {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#demo-instructions .instructions {
	height: 0;
}

#demo-instructions p {
	opacity: 0;
	font-size: 0.01px;
}

#demo-instructions:hover .instructions {
	height: auto;
}

#demo-instructions:hover p {
	opacity: 1;
	    -webkit-transition: opacity 1s ease-out;
}*/



#demo-instructions h3 {
	color: #ff0054;
	font-size: 24px;
	text-align: center;
}


#returning {
	padding-top: 230px;
}

/*#demo div {
	opacity: 1.0;
}*/

/*.masthead {
	position: relative;
	width: 100%;
	height: 200px;
}

.masthead img {
	position: absolute;
	width: 100%;
	height: auto;
}

.masthead h2 {
	position: absolute;
}*/

.modal i {
	padding-right: 5px;
}

.modal span {
	margin-right: 10px;
}

.modal .content-main {
	width: 420px;
}

.modal .content-main.bigger-right {
	padding-top: 0;
}

.modal .content-main.bigger-right h3 {
	padding-top: 8px;
}

.modal input[type=text] {
	width: 400px;
	margin-left: 0;
	margin-right: 20px;
}

.modal textarea {
	width: 400px;
  border-radius: 6px;
  color: #ff0054;
  padding: 10px;
	border: none;
}

.modal input[type=submit]{
	margin-right: 0;
}

.modal .frame {
	width: 420px;
}

.modal img {
	width: 420px;
	height: auto;
	margin: auto;
	padding: 0;
}

.modal h3 {
	display: inline-block;
}


.login .content-main {
	width: 350px;
}
.login .content-main input[type=text] {
	width: 200px;
}


.list-sortable-placeholder {
	margin: 10px;
	border-radius: 8px;
	border: 1px dotted white;
}

.note-sortable-placeholder {
	margin: 10px;
	border-radius: 8px;
	border: 1px dotted black;
}

.ui-state-highlight-list {
	background-color: black;
}

.ui-state-highlight-card {
	background-color: black;
}

#new-list-toggle-div {
  position: relative;
}

.list-form {
  background-color: #ff0054;
  width: 280px;


  float: left;
  border-radius: 8px;
}
#list-form {
  position: absolute;
  opacity: 50%;
  top: 10px;
  left: 10px;
}

#list-form input[type=text] {
	margin-top: 25px;
/*	should this be a little more*/
}

#list-button {
  position: absolute;
  opacity: .6;
  margin: 10px;
}

#new-note-toggle-div {
  padding: 0;
  border: 0;
  float: left;

}

#make-a-note {
  margin: 0px 80px 15px 80px;
}

strong {
	font-weight: bold;
}

.note-button {
  min-width: 280px;
  margin-top: 0;
  padding-bottom: 15px;
}

.list-form.note-form {
  background-color: #ecf0f1;
}
.list-form input[type=text] {
  font-size: 18px;
  text-align: center;
  margin: 0px 16px 10px 16px;
  width: 228px;
}

.list-form input[type=submit], .list-button input[type=submit] {
  height: 34px;
  background-color: #4d4d4d;
  font-size: 18px;
  min-width: 100px;
  margin: 0px 80px 15px 78px;
  padding: 0px 10px;
}

.list-button input[type=submit] {
  padding: 5px 10px;
  display: block;
  width: auto;
  margin: auto;
  background-color: #ff0054;
}
/* --- HEADER --- */

header {
  background-color: #4d4d4d;
  color: white;

  width: 100%;
  height: auto;
  box-shadow: 0px 20px 50px #333;
  top: 0px;

  position: fixed;
  z-index: 2;
}

.top-bar {
  background-color: none;
}

#logo {
		float: left;
    font-size: 36px;
    color: #3DF2B9;
    padding: 20px;
    padding-left: 40px;
    font-family: 'Titillium Web', sans-serif;
}

.modal #logo-large {
	text-align: center;
}


header h2 {
  font-size: 16px;
  color: white;
  display: block;
  padding: 10px 0px;
}

.login-buttons {
  margin-left: 40px;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	
}

.login-buttons a {
	float: left;
}

.header-bar {
  padding-top: 10px;
  float: right;
	width: 100%;
}

.header-bar i {
	padding-right: 7px;
}
/*.header-bar i, .header-bar span {
  color: #ff0054;
  padding: 10px;
}*/

/* --- FOOTER --- */

#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
/*   height: 20px;*/
   width: 100%;
   background: #ff0054;
}

#footer h3 {
	display: block;
	padding: 6px 20px 8px 0px;
 	color: white;
 	font-size: 10px;
	float: right;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/* --- BODY --- */

.bigger-left {
	border-right: 1px solid white;
}

.bigger-right {
	border-left: 1px solid white;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.sortable {
  min-height: 20px;
}

section.page-view {
  width: 5000px;
/*  margin-top: 160px;*/
}

#lists {
  float:left;
}

.info {
  margin: 10px;
  float: left;
  border-radius: 8px;
}

.card {
  background-color: white;
  width: 247px;
}

.card i {
  color: #3DF2B9;
}

.info.garden {
  background: #4d4d4d;
  width: 240px;
  float: left;
}

.info.list {
  background: #ecf0f1;
  width: 280px;
}

.listwrapper h2 {
	border-bottom: 1px dotted gray;
}

.listwrapper ul {
	margin-top: 5px;
}

.data {
  padding: 15px 7px 10px 7px;
}

.data h2 {
  display: block;
  padding: 10px;
}

#members {
	padding: none;
}


.view-buttons {
  display: block;
}

.icons {
  padding: 10px 0;
}

.icon {
  padding: 3px;
}

.list-* {
  width: 100%;
}

.main {
  margin: auto;
	margin-top: 93px;
	margin-bottom: 80px;
  padding: 0 30px;
	padding-top: 20px;
	
}

/*.content {
  padding: 30px 20px;
  width: 800px;
  margin: auto;
  margin-top: 160px;
  border-radius: 20px;
}*/

.content-main {
  width: 350px;
  float: left;
  padding: 20px;
}

.content-sidebar {
  width: 200px;
  padding: 20px;
}


.content h3 {
  display: block;
  padding: 10px 20px;
}

.content ul {
  padding: 10px 0;
}

.content.login {
	background-image: url('/images/masthead-small-dark.jpg');
	background-size: cover;
	border: none;
}

.content.login h2 {
	text-transform: uppercase;
	font-size: 48px;
	display: block;
	padding: 20px;
}

.content.login h4 {
	text-align: center;
	font-size: 18px;
}

.content.login h5 {
	padding: 15px 0;
	font-size: 11px;
}
.content.login label {
	color: white;
	width: 100px;
	display: inline-block;
}
.content.login h3 {
	text-align: center;
  color: #ff0054;
	font-size: 24px;
	padding-bottom: 20px;
}

div.center {
	text-align: center;
}

div.center-button {
	text-align: center;
}

#new-garden-set {
	border-top: 1px dotted #ff0054;
	padding: 20px;
	margin-top: 20px;
}

#garden-form label {
	display: inline-block;
	padding-top: 5px;
}

#garden-form input[type=submit]{
	margin-right: 0;
}

.content.login input[type=submit] {
	margin: auto;
}


/*.content h3 {
	border-bottom: 1px dotted #ff0054;	
}*/

.masthead {
	width: 800px
}
.list {
/*  max-height: 800px;*/
  overflow-x: hidden;
  overflow-y: auto;
}

.data h3 {
  font-size: 20px;
}

.link-text {
  background-color: white;
  padding: 10px 20px;
  margin: 8px 0px;
  border-radius: 9px;
  color: #ff0054;
}

.link-text p {
	position: relative;
	display: inline;
	width: auto;
}

.notification i {
	position: absolute;
	font-size: 24px;
	top: -5px;
	left: 300px;
	vertical-align: top;
}
/*
.content .modal {
	width: 900px;
}*/

.content.user {
	background-color: #4d4d4d;
	margin-top: 10px;
	width: 880px;
	z-index: 0;
}

.content span {
	padding-left: 40px;
	text-align: right;
}
.content h4 {
	display: block;
	font-size: 14px;
	padding: 10px 20px;
	margin: 8px 0;
}

.content em {
	color: #3DF2B9;
}

#user-show {
	margin: auto;
	margin-top: 10px;
}

/* --- FOOTER --- */

footer {
  width: 740;
  color: blue;
  background-color: blue;

}

.garden-list li {
  width: 100%;
}

.optional {
/*  background: rgb(54, 25, 25);
  */
  /* Fall-back for browsers that don't
                                      support rgba */
/*  background: rgba(54, 25, 25, .5);*/
  opacity: .6;

}

/*Dragons Below*/



/*


.delete {
  display: block;
  width: 200px;
  float: left;

  padding-top: 10px;
  border-top: 1px solid white;
  margin-top: 10px;
}

.note-nav {
  padding: 40px 20px;
  width: 220px;
  float: right;
}

.note-nav {
  padding: 40px 20px;
  width: 220px;
  float: right;
}

.note-text {
  background-color: white;
  padding: 10px 20px;
  margin: 8px 0px;
  border-radius: 9px;
  color: #ff0054;

}

.comment {
  padding: 20px 0px;
  display: block;
  width: 380px;
  border-bottom: 1px dotted #ff0054;

}
.comment-text > p {
  width: 300px;
  background-color: white;
  padding: 10px 20px;
  margin: 5px 0px;
  border-radius: 9px;
}

div {
  display: inline;
}



.form-view {
  width: 600px;
  margin: auto;
}

.profile {
  width: 600px;
  margin: auto;
}




.new-crop h3 {
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}


.ribbons {
  position: relative;
  top: -10px;
  margin: 0;
  border: 0;
  padding: 0;
}

#growy {
  font-size: 36px;
  color: #3DF2B9;
  padding: 20px;
  padding-left: 40px;
  font-family: 'Titillium Web', sans-serif;
}

.icons {
  display: block;

}

.button_to {
  display: inline;
}


.button {
  background-color: #ff0054;
}

/*.pageform {
  float: left;
  margin: auto;
  width: 50%;
}*/

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #ff0054;
}

a:visited {
  color: inherit;
}

.list-header {
  padding: 20px;
}

ul {
  list-style: none;
}

.text-area {
  border-radius: 6px;
}

ul:after {
  content: "";
  display: table;
  clear: both;
}



img {
  display: block;
  width: 91%;
  margin: 10px 0px;
  padding: 10px;
}

.flag-toggle ul {
  display: block;
}
.link-button {
	background-color: #121f1f;
	color: #bdc3c7;
	display: inline-block;
	font-size: 14px;
	
}

#list-button {
	font-size: 18px;
	margin-right: 20px;
}

.loose-cards {
/*	border-top: 1px dotted #ff0054;*/
	padding: 20px;
	padding-top: 30px;
}

.loose-cards li {
	margin: 9px;
}

.loose-cards h2 {
	border-top: 1px dotted #ff0054;
	padding-top: 20px;	  
}
.new-list-button-div {
  position: absolute;
  display: block;
  float: left;
  margin: 10px 5px;
  width: 300;
}

.new-list-button {
  width: 280px;
  height: 40px;
}

.form-wrapper {
  width: 280px;
}

h1 {
  font-size: 36px;
  color: #3DF2B9;
  font-weight: lighter;
}

.notification-links {
  display: block;
  padding-left: 20px;
}

.notification-links .comment-text {
  margin: 5px;
}

h2 {
  color: #3DF2B9;
  font-size: 18pt;
  font-weight: lighter;
}

h3 {
  color: #4d4d4d;
  font-size: 14pt;
  font-weight: lighter;
}

p {
  font-size: 10pt;
}

.garden-list {
  border-top: 1px dotted #ff0054;
  padding-top: 15px;
  width: 200px;
}

.garden-list h3 {
  color: #bdc3c7
}


.sub {
  color: #acb1b6;
  font-size: 12px%;
  padding-right: 10px;
}

.crop-info {
  background: #ecf0f1;

}

.icon-calendar {
	float: left;
}
.front-icons {
  width: 100%;
}

.due-date input[type=date]{
	margin-left: 0;
}
form {
/*  padding-right: 3px;*/
  padding-bottom: 3px;
}

li {
  float: left;
  list-style-type: none;

}

label {
  font-style: sans-serif;
  color: #4d4d4d;
  font-size: 14pt;
  font-weight: lighter;

}

.page-body {
  width: 100%;
  display: block;
  position: relative;
}


input {
  border: none;
}

input[type=text-area] {
  border-radius: 6px;
}

.header-bar {
	padding: 15px;
}

.header-bar ul {
	float: right;
}

#edit-comment, #delete-comment {
	color: white;
	margin-right: 0;
	margin-top: 40px;
	margin-left: 10px;
}

.garden form {
	border-top: 1px dotted #ff0054;
	padding-top: 10px;
	margin-top: 10px;
}

input[type=submit], .header-bar div, #garden-button, .pink-button {
  border: none;
	font-size: 12px;
  background-color: #ff0054;
  color: white;
  padding: 8px;
  font-family: sans-serif;
  border-radius: 6px;
  box-shadow: none;
  margin: 5px;
}

.header-bar input[type=submit], header div {
	padding: 0;
	margin: 0;
}

#logout {
	padding: none;
	margin: none;
}

#logo-frame {
	width: 80px;
	height: auto;
}

#logo {
	width: 80px;
	height: auto;
}

.header-bar i, .header-bar a {
	color: white;
}

input[type=text], input[type=password] {
  border-radius: 6px;
  color: #ff0054;
  margin-left: 18px;
  width: 180px;
  padding: 10px;
}

input[type=password] {
	width: 200px;
	margin-left: 0;
}

input[type=date] {
  border-radius: 6px;
  color: #ff0054;
  margin-left: 18px;
  width: 180px;
  padding: 10px;
}

input[type=integer] {
  border-radius: 6px;
  color: #ff0054;
  margin-left: 18px;
  width: 180px;
  padding: 10px;
}


.note-header input[type=text] {
  width: 358px;
  background-color: white;
  padding: 10px 20px;
  margin: 8px 0px;
  border-radius: 9px;
  color: #ff0054;
  font-size: 16px;
  font-style: bold;
}

.ribbons {
  position: relative;
  top: -18px;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 0;
}

.ribbon {
	position: relative;
	z-index: 0;
  height: 20px;
  width: 0px;
  margin: 3px;
  border-bottom: 8px solid transparent;
  float: left;
}

.flag {
  width: 70px;
}

.unflag-button {
  width: 100px;

}

.flag-wrapper {
  position: relative;
}


input[type=submit] + i {
  position: absolute;
  display: none;
  top: 10px;
  left: 86px;
}

input[type=submit].unflag-button + i {
  position: absolute;
  display: block;
  color: gray;
  top: 11px;
  left: 86px;
}

input[type=submit].flag {
  padding: 6px;
}

.flag1 {
  border-left: 7px solid #3D4CF2;
  border-right: 7px solid #3D4CF2;
}

.flag2 {
  border-left: 7px solid #ff0054;
  border-right: 7px solid #ff0054;
}

.flag-toggle {
  float: left;
}

.flag-toggle li {
  display: block;
  float: none;
}

.icon.info.group {
  display: block;
}
/*.ribbon2 {
  height: 20px;
  width: 5px;
  margin: 3px;
  border-left: 7px solid #ff0054;
  border-right: 7px solid #ff0054;
  border-bottom: 8px solid transparent;
}*/

.flag3 {
  border-left: 7px solid #adadad;
  border-right: 7px solid #adadad;
}

.flag4 {
  border-left: 7px solid #3DF2B9;
  border-right: 7px solid #3DF2B9;
}

.flag5 {
  border-left: 7px solid #ff4d00;
  border-right: 7px solid #ff4d00;
}

input[type=submit].flag1 {
  background-color: #3D4CF2;
}

input[type=submit].flag2 {
  background-color: #ff0054;
}

input[type=submit].flag3 {
  background-color: #adadad;
}

input[type=submit].flag4 {
  background-color: #3DF2B9;
}

input[type=submit].flag5 {
  background-color: #ff4d00;
}

.invisible {
  display: none;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}


#blur {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.6;
  position: fixed;
  z-index: 1;
}

#note-view, .content{
	position: relative;
  padding: 30px 20px;
  width: 740px;
  border: 3 px dashed #ff0054;
  border-radius: 20px;
  background-color: gray;
  z-index: 3;
}

.content {
	width: 790px;
}

.errors {
	display: block;
	text-align: left;
}

.ui-dialog.ui-widget.ui-widget-content {
  top: 0;
}

form input[type=text].persisted, form input[type=textarea].persisted {
	color: #4D4D4D;
}
